@import 'components/pages';
@import 'base/variables';
@import 'base/listas';
@import 'base/extends';
@import 'base/maps';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Prompt:wght@200;300&family=Shippori+Antique+B1&display=swap');



header, main, footer {
    .encabezado {
        @extend %encabezados;
        }
        @media screen and (max-width:576px){
            font-size:nth($fuentes ,3 );      
        }
    }

main{
    .h1 {
        color: map-get($h1,color-h1);
        font-family: map-get($h1,font-family-h1);
        background-color: map-get($h1,bg-color-h1);
        padding: map-get($h1, padding-h1);
        font-family:$font-family-d;
    }
}

      
.color-link{
    &:active{
        background-color: rgba(82, 99, 88, 0.781);
    }
}
.secciones{
    width: 100%;
    margin: 60px 0px;
}
#nosotros{
    @extend %flex-column;
   

    .parrafo-nosotros{
        font-size: nth($fuentes , 3);
        color: nth($colores,3);
        font-family: $font-family-d;
        line-height: 1.5;
        margin: 60px 20px;
        @media  screen and (max-width:576px) {
            
        }
    }
}


#productos{
    .card{
        width:280px;
        height:400px;
        
        margin-bottom: 60px;
        @extend %titulos; 
    }
    @media screen and (max-width:576px){  
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
}
.card-img-top:hover{
    transform:translate(5px, 3%);
    transition:all 0.5s;
  } 
    
.card-img-top {
    display: block;
    width: 100%;
    height: auto;  
  }

#locales{
    @extend %flex-column;
    .locales{
        @extend %titulos;
        padding: 10px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    padding: 0px 300px;;
    @media screen and (max-width:576px){
        
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: 40px 40px;
        }
    }
 

footer{

    .ul-footer{
        
        ul{ 
          list-style: none;
            li{
           
                a{
                color: nth($colores, 6);
                text-decoration: none;
                line-height: 2;
                    &:hover{
                        color: nth($colores, 3 );
                    }
                    @media screen and (max-width:576px){
                        font-size:nth($fuentes ,1);      
                    }
                }
            }
        }
    }
}

 footer{
    .ul-foot{
        
        align-items: center;
            ul{
               list-style: none;
                 li{
                     font-size: nth($fuentes,2);
                     font-family: $font-family-d;
                     color: nth($colores, 3);
                     display: flex;
                     justify-content: center;
                        a{
                            
                            text-decoration: none;
                              &:hover{
                                opacity: 0.5;
                              }
                                }
                }
            }
    }
}

footer{
    .contactanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
            @media screen and (max-width: 576px){
                font-size: nth($fuentes, 1);
                display: none;
            }
                .texto-footer{
                    font-family: $font-family-d;
                    font-size: nth($fuentes, 1 );
                    line-height: 1.5;
                    color: nth($colores, 6 );
                    text-decoration: none;      
                }
            
    }
}
 
