@import 'components/pages';
@import 'base/variables';
@import 'base/listas';
@import 'base/extends';
@import 'base/maps';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');



header, main, footer {
    .encabezado {
        @extend %encabezados;
        }
        @media screen and (max-width:576px){
            font-size:nth($fuentes ,1 );   
        }
    }

main{
    h1 {
        color: map-get($h1,color-h1);
        font-family: map-get($h1,font-family-h1);
        background-color: map-get($h1,bg-color-h1);
        padding: map-get($h1, padding-h1);
        font-family: 'Oswald', sans-serif;
    }
}

ul{

    li{
        list-style:none;
        a{
            font-family: $font-family;
            text-decoration: none;
            color:nth($colores, 5);
                &:hover{
                color:nth($colores, 4);
                }
        
        }
    }
}
      
.color-link{
    &:active{
        background-color: rgba(221, 154, 54, 0.822);
    }
}
.secciones{
    width: 100%;
    margin: 60px 0px;
}
#nosotros{
    @extend %flex-column;
    .parrafo-nosotros{
        font-size: nth($fuentes , 3);
        color: nth($colores,4);
        font-family: $font-family;
        line-height: 1.5;
    }
}


#productos{
    .card{
        width:280px;
        height:400px;
        
        margin-bottom: 60px;
        @extend %titulos; 
    }
    @media screen and (max-width:576px){  
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
}
.card-img-top:hover{
    transform:translate(5px, 3%);
    transition:all 0.5s;
  } 
    
.card-img-top {
    display: block;
    width: 100%;
    height: auto;  
  }

#locales{
    @extend %flex-column;
    .locales{
        @extend %titulos;
        padding: 10px;
    }
}

.form{
    padding: 0px 40px;
    @media screen and (max-width:576px){
        
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: 10px;
        }
    }
    

.ul-footer{
    li{
        a{
            color: nth($colores, 6);
        }
    }
}
.form{
    font-family: 'Oswald', sans-serif;
}