@import '../base/variables';
@import '../base/listas';


.carrito{
    border-radius: 102px;
    animation: carrito 3s;
    animation-iteration-count: 4;
    animation-direction: alternate-reverse;
 }
 
  @keyframes carrito {
   from{
       transform:translateY(120px);
     }
    to{
       transform: translateY(50px);  
     }
 }
.col{
  @extend %flex-column;
  
  ul{
    text-decoration: none;
    list-style: none;
    border: solid 1px nth($colores, 1);
    border-radius: 3px;
    padding:14px; 
    
    li{
      font-size: nth($fuentes,3);
      color:nth($colores,1);
      a{
        color:nth($colores,1);
      
        &:hover{
          color: nth($colores,5);
          font-size: nth($fuentes,3);
        }
        .button-productos{
          background-color:nth($colores,4);
          border-radius: 3px;
          border: solid 1px whitesmoke;
          color:nth($colores, 1);
            &:hover{
              padding: 3px;
              opacity: 0.7;
            }
        }
              
      }
            
    }
  }
      
}
  

  