%encabezados{
    background-color: $bg-header;
    color:nth($colores, 4);
    font-size: $font-size-header;
    letter-spacing:$header-letter-spacing; 
    padding: 20px 0px;
}

%flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
%titulos{
    background-color:nth($colores, 2);
    color: nth($colores,6);
    font-family:$font-family-d;
    font-size: nth($fuentes, 3);
    padding: 10px;
    border-radius: 5px;
    border:solid 2px rgb(165, 159, 148);
}

%buttons{
    background-color:nth($colores,5);
    font-size: nth($fuentes,2);
    border-radius: 3px;
    border: solid 1px whitesmoke;
    color:nth($colores, 2);
      &:hover{
        padding: 3px;
        opacity: 0.7;
      }
}