
$h1: rgba(221, 154, 54, 0.822);
$bg-header:rgba(151, 142, 124, 0.589);
$bg-titulos: whitesmoke;
$header-color: rgba(179, 179, 182, 0.986);
$font-size-header:18px;
$header-letter-spacing:2px;
$font-family:Verdana, Geneva, Tahoma, sans-serif;
$fuentes: 10px, 15px, 20px, 25px;
$colores:
white,
whitesmoke, 
rgba(221, 154, 54, 0.822),
rgba(19, 17, 14, 0.767),
rgba(214, 201, 175, 0.589),
rgba(173, 83, 10, 0.705);

