
$bg-header:rgb(77, 119, 119);
$bg-titulos:rgb(209, 223, 173);
$header-color: white;
$font-size-header:15px;
$header-letter-spacing:2px;
$font-family:Verdana, Geneva, Tahoma, sans-serif;
$colores: white,whitesmoke, rgb(77, 119, 119),rgb(209, 223, 173);
$fuentes: 10px, 15px, 20px, 25px;
